In [25]:
# Dependencies
import os
import pandas as pd
import numpy as np

In [26]:
# Read measurements and stations csv's
measurements_path = os.path.join("Resources","hawaii_measurements.csv")
stations_path = os.path.join("Resources", "hawaii_stations.csv")

measurements = pd.read_csv(measurements_path)
stations = pd.read_csv(stations_path)

In [27]:
# Print measures data
#measurements.head()
# Print stations data
#stations.head()

In [28]:
# Nan values inside of measurements
measurements_nans = measurements[pd.isnull(measurements).any(axis=1)]
measurements_nans.head()

        station        date  prcp  tobs
4   USC00519397  2010-01-06   NaN    73
26  USC00519397  2010-01-30   NaN    70
29  USC00519397  2010-02-03   NaN    67
43  USC00519397  2010-02-19   NaN    63
61  USC00519397  2010-03-11   NaN    73

In [29]:
# Remove the Nan values
clean_measurements = measurements.dropna()
clean_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [30]:
# Nan values inside of stations
stations_nans = stations[pd.isnull(stations).any(axis=1)]
stations_nans.head()

Empty DataFrame
Columns: [station, name, latitude, longitude, elevation]
Index: []

In [31]:
# Finsihed CSV Files
clean_measurements.to_csv(os.path.join("Resources","clean_measures.csv"))
stations_nans.to_csv(os.path.join("Resources","clean_stations.csv"))